@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,800;1,100;1,500;1,600;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}
p, a,span{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
#back-to-top {
  position: fixed;
  right: -150px;
  bottom: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(82, 85, 90, 0.2);
  -moz-box-shadow: 0 10px 40px rgba(82, 85, 90, 0.2);
  box-shadow: 0 10px 40px rgba(82, 85, 90, 0.2);
  color: #424242;
  font-size: 20px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #ddd;
}

#back-to-top:hover {
  background-color: #4b646f;
  color: #fff;
  border-color: #4b646f;
}
#back-to-top.back-btn-shown {
  right: 30px;
  opacity: 1;
  visibility: visible;
}